/*color scheme:
  homepage:
        RED  (204,049,002), 
	BLACK(000,000,000),
	WHITE(255,255,255)
  pokedex:
  forum
  news
  etc
 */

.body {
	border-left: solid rgb(192, 224, 231) .1mm;
}
.body > img {
	width: 100%;
	
}
#login> form{
    display: block;
	text-align:right;
	float: right;
	width: 35%;
}
#login > img {
	width: 60%;
}
#menu_holder{
	border-left-radius: 15px;
	border-top-radius:15px;
	border-bottom-radius: 15px;
	width: 100%;
	/*background: rgb(30,30,30);*/
	background:rgb(192, 244, 231);
	padding:10px;
}
#menu_holder > ul > li {
	display: inline-block;
	margin-right: 20px;
}
#menu_holder > ul > li > ul > li{
	display: none;
}

.body > div {
	width: 45%;
	margin-left: 20px;
	border: solid rgb(192, 224, 231) 3px;
	display: inline-block;
	overflow: hidden;
	height: 350px;
}

.body > div > div{
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(0,39,101);
	text-align: center;
	
} 
.body > div > div > div {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(192, 224, 231); 
	display: inline-block;
}
.body > div > img {
	width: 100%;
	
}

h3 {
	font-style: italic;
	
}
a {
        color: black;
        text-decoration: none;
}
