/*color scheme:
  homepage:
        RED  (204,049,002), 
	BLACK(000,000,000),
	WHITE(255,255,255)
  pokedex:
  forum
  news
  etc
 */

.body {
	border-left: solid rgb(192, 224, 231) .1mm;
}
.body > img {
	width: 100%;
	
}
#login> form{
    display: block;
	text-align:right;
	float: right;
	width: 35%;
}
#login > img {
	width: 60%;
}
#menu_holder{
	border-left-radius: 15px;
	border-top-radius:15px;
	border-bottom-radius: 15px;
	width: 100%;
	/*background: rgb(30,30,30);*/
	background:rgb(192, 244, 231);
	padding:10px;
}
#menu_holder > ul > li {
	display: inline-block;
	margin-right: 20px;
}
#menu_holder > ul > li > ul > li{
	display: none;
}

.main td{
	width:20%;
	font-size: 15;
}
.sub{
	display: none;
}

a {
        color: black;
        text-decoration: none;
}
